rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    // Users can read and write to their own document.
    match /users/{userId} {
      allow read, write: if request.auth != null && request.auth.uid == userId;
    }

    // Any authenticated user can read or create a room.
    // Only the owner of the room can update or delete it.
    match /rooms/{roomId} {
      allow read, create: if request.auth != null;
      allow update, delete: if request.auth != null && request.auth.uid == resource.data.ownerId;

      // Any authenticated user can read or send messages in any room.
      match /messages/{messageId} {
        allow read, write: if request.auth != null;
      }
    }
    
    // Any participant of a conversation can read/write to it.
    match /conversations/{conversationId} {
      allow read, write: if request.auth != null && request.auth.uid in resource.data.participants;
      
      // Any participant of a conversation can send/read messages.
      match /messages/{messageId} {
         allow read, write: if request.auth != null && request.auth.uid in get(/databases/$(database)/documents/conversations/$(conversationId)).data.participants;
      }
    }
  }
}
